@media screen and (max-width: 600px) {
   .main-body {
      width: 90%;
      margin: 10px auto;
   }
   .navber {
      display: none;
   }
   .mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .comment-mobile {
      position: relative;
   }
   .comment-text-mobile {
      font-size: 10px;
      position: absolute;
      right: 2px;
      bottom: 15px;
   }

   .perent-list {
      display: none;
   }

   /* banner */
   .banner-container {
      flex-direction: column;
   }
   .banner {
      text-align: center;
   }
   .bg-img {
      background-position: center;
   }
   .bg-img img {
      width: 98%;
      margin-top: 90px;
   }
}
